body {
  background-color: white;
  margin: 0;
}

header {
  background-color: #4eb4c6;
  color: #ffffff;
  overflow: auto;
  padding: .5em;
}

h1 {
  padding: 0;
  margin: 0;
  float: left;
  font-size: 1em;
}

nav {
  float: right;
}

a {
  color: #ffffff;
  margin-left: 1em;
  text-decoration: none;
  font-size:
}

.card {
  border-width: thin;
}

img {
  height: 100px;
  float: left;
}

h2 {

}

h3 {

}

.repo {
  float: left;
  clear: both;
}

.language {
  float: right;
  width: 50%;
}

.repo__name {
  float: left;
  width: 50%;
}
