body {
  background-color: white;
  margin: 0;
}

header {
  background-color: #4eb4c6;
  color: #ffffff;
  overflow: auto;
  padding: .5em;
}

h1 {
  padding: 0;
  margin: 0;
  float: left;
  font-size: 1em;
}

nav {
  float: right;
}

a {
  color: #ffffff;
  margin-left: 1em;
  text-decoration: none;
  font-size:
}

.card {
  border: 0.1em solid lightgrey;
  border-radius: 1rem;
  width: calc(100% / 4 - 1rem - 1rem);
  margin: 4rem;
  float: left;
}

img {
  height: 100px;
  float: left;
}

h2 {
  display: inline-block;
  padding-top: -1rem;
  float: left;
  padding: 0.5rem;
  margin: 0;
}

h3 {
  margin: 1.5rem;
  padding: 2rem;
  color: gray;
  float: inherit;
}

.repo {
  float: left;
  clear: both;
}

.language {
  float: right;
  width: 50%;
}

.repo__name {
  float: left;
  width: 50%;
}

.username {
  padding: 1rem;
}

.user__image {
  height: 5em;
  float: left;
  padding: .5rem;
  border-radius: 15%;
}

.code_repo_left {
  padding: 1rem;
  float: left;
}

.dot-ruby {
  float: left;
}

.repo__name {
  padding: 1rem;
}


/** ToDO: Add dots, border, finish styling**/
