body {
  background-color: white;
  margin: 0;
}

header {
  background-color: #4eb4c6;
  color: #ffffff;
  overflow: auto;
  padding: .5em;
}

h1 {
  padding: 0;
  margin: 0;
  float: left;
  font-size: 1em;
}

nav {
  float: right;
}

a {
  color: #ffffff;
  margin-left: 1em;
  text-decoration: none;
  font-size:
}

.card {
  border-radius: 0.2rem;
  padding: 1rem;
  display: flex;
}

img {
  height: 100px;
  float: left;
}

h2 {
float: right;
padding: 0.5rem;
margin: 0;
}

h3 {
  margin: 1rem;
  padding: 0;
  display: flex;
}

.repo {
  float: left;
  display: flex;
  clear: both;
}

.language {
  float: right;
  width: 50%;
}

.repo__name {
  float: left;
  width: 50%;
}

/** ToDO: Add dots, border, finish styling**/
